
/*Imports*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*Vars*/
:root{
    --dark: #393839;
    --ldark: #6E525D;
    --dorange: #AA6C6E;
    --orange: #DE8F6E;
    --lorange: #FABF68;
    --yellow: #F9F871;
}

/*Body*/
body{
    padding: 0;
    margin: 0;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

a {
    font-family: 'Roboto', sans-serif;
}

/*Divs*/
.body > div {
    padding: 0px 0;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
  }

/*Grid items*/

/*Title*/
.title{
    grid-area: title;
    text-align: left;
    background-color: var(--orange);
}

.title > h1{
    font-style: bold;
    font-size: 30px;
    padding: 10px;
}

/*Navigation*/
.nav {
    font-size: 25px;
    text-align: center;
    background-color: var(--orange);
    padding: 30px;
    text-decoration: none;
    color: black;
}

.nav:hover{
    background-color: var(--lorange);
}

/*Main doc*/
.main{
    grid-area: main;
    text-align: center;
}

/*Site body*/
.body {
    display: grid;
    grid-template-areas:
        'title title nav1 nav2 nav3'
        'main main main main main';
    background-color: transparent;
}

/*Products grid*/
.products {
    display: grid;
    grid-template-areas: 
        'product1 product2 product3'
        'product4 product5 product6';
    background-color: transparent;    
}

/*Contact grid*/
.contact {
    display: grid;
    grid-template-areas:
        'contact contactImg';
}

/*Ids*/

/*Backgrounds*/
#bg1 {
    background-image: 
    linear-gradient(to bottom, transparent, var(--dark)),
    url("./assets/bg.jpg");
    background-size: cover;
}

/*Islands*/
#il1 {
    margin: 200px;
    margin-bottom: 50px;
    padding: 50px;
    background-color: var(--dark);
    border-radius: 50px;
    border-color: var(--orange);
}

#il2 {
    margin: 100px;
    margin-bottom: 50px;
    padding: 25px;
    background-color: var(--dark);
    border-radius: 50px;
    border-color: var(--orange);
}


#left{
    text-align: left;
}

#right{
    text-align: right;
}