
/*Imports*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*Vars*/
:root{
    --dark: #393839;
    --ldark: #6E525D;
    --dorange: #AA6C6E;
    --orange: #DE8F6E;
    --lorange: #FABF68;
    --yellow: #F9F871;
}

/*Body*/
body{
    padding: 0;
    margin: 0;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*Divs*/
.body > div {
    padding: 0px 0;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
  }

/*Grid items*/

/*Title*/
.title{
    grid-area: title;
    text-align: left;
    background-color: var(--orange);
}

.title > h1{
    font-style: bold;
    font-size: 30px;
    padding: 10px;
}

/*Navigation*/

.nav > a > button{
    font-size: 20px;
    border: none;
    background-color: var(--orange);
    padding: 40px 50px;
}

.nav > a > button:hover{
    background-color: var(--lorange);
}

.nav{
    grid-area: nav;
    text-align: right;
    background-color: var(--orange)
}

/*Main doc*/
.main{
    grid-area: main;
    text-align: center;
}

/*Site body*/
.body {
    display: grid;
    grid-template-areas:
        'title nav nav nav'
        'main main main main';
    background-color: transparent;
}

/*Ids*/
#bg1 {
    background-image: 
    linear-gradient(to bottom, transparent, var(--dark)),
    url("./assets/bg.jpg");
    background-size: cover;
}

#il1 {
    margin: 250px;
    padding: 20px;
    background-color: var(--dark);
    border-radius: 50px;
}

#il1 > h1{
    text-shadow: 0 0 4px var(--lorange);
}